@charset "UTF-8";
body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}

h1 {
    margin-top: 50px; 
    margin-bottom: 30px;
    color: #333;
    font-size: 36px;
}

.box-container {
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin-top: 50px; 
}

.box {
    width: 150px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #B8C6CF;
    font-size: 18px;
    color: #444444;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 0 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-decoration: none;
}

.box:hover {
    background-color: #E5EAE8;
    color: #444444;
    text-decoration: none;
}
